<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cncf.dao.AdminDao">

    <resultMap id="BaseResultMap" type="com.cncf.entity.Admin">
        <constructor>
            <idArg column="adminId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="adminName" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="CHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
    adminId, adminName, password
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admin
        where adminId = #{adminid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where adminId = #{adminid,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.cncf.entity.Admin">
    insert into admin (adminId, adminName, password
      )
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=CHAR}, #{password,jdbcType=CHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.cncf.entity.Admin">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminid != null">
                adminId,
            </if>
            <if test="adminname != null">
                adminName,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminid != null">
                #{adminid,jdbcType=INTEGER},
            </if>
            <if test="adminname != null">
                #{adminname,jdbcType=CHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cncf.entity.Admin">
        update admin
        <set>
            <if test="adminname != null">
                adminName = #{adminname,jdbcType=CHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
        </set>
        where adminId = #{adminid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cncf.entity.Admin">
    update admin
    set adminName = #{adminname,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR}
    where adminId = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>