<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncf.dao.ArticleDao" >
  <resultMap id="BaseResultMap" type="com.cncf.entity.Article" >
    <constructor >
      <idArg column="articleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="publishTime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="source" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="click" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="wordSize" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cncf.entity.Article" >
    <constructor >
      <idArg column="articleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="publishTime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="source" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="click" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="wordSize" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    articleId, title, publishTime, source, click, wordSize, type
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where articleId = #{articleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where articleId = #{articleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cncf.entity.Article" >
    insert into article (articleId, title, publishTime, 
      source, click, wordSize, 
      type, content)
    values (#{articleid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{publishtime,jdbcType=CHAR}, 
      #{source,jdbcType=CHAR}, #{click,jdbcType=INTEGER}, #{wordsize,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cncf.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        articleId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publishtime != null" >
        publishTime,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="click != null" >
        click,
      </if>
      <if test="wordsize != null" >
        wordSize,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        #{articleid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="click != null" >
        #{click,jdbcType=INTEGER},
      </if>
      <if test="wordsize != null" >
        #{wordsize,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cncf.entity.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishTime = #{publishtime,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="click != null" >
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="wordsize != null" >
        wordSize = #{wordsize,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where articleId = #{articleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cncf.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      publishTime = #{publishtime,jdbcType=CHAR},
      source = #{source,jdbcType=CHAR},
      click = #{click,jdbcType=INTEGER},
      wordSize = #{wordsize,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where articleId = #{articleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cncf.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      publishTime = #{publishtime,jdbcType=CHAR},
      source = #{source,jdbcType=CHAR},
      click = #{click,jdbcType=INTEGER},
      wordSize = #{wordsize,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR}
    where articleId = #{articleid,jdbcType=INTEGER}
  </update>
</mapper>