<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncf.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.cncf.entity.Message" >
    <constructor >
      <idArg column="mid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="leaveId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="author" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="valid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cncf.entity.Message" >
    <constructor >
      <idArg column="mid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="leaveId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="author" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="valid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    mid, leaveId, author, createTime, valid
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cncf.entity.Message" >
    insert into message (mid, leaveId, author, 
      createTime, valid, content
      )
    values (#{mid,jdbcType=INTEGER}, #{leaveid,jdbcType=INTEGER}, #{author,jdbcType=CHAR}, 
      #{createtime,jdbcType=CHAR}, #{valid,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cncf.entity.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="leaveid != null" >
        leaveId,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="leaveid != null" >
        #{leaveid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=CHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cncf.entity.Message" >
    update message
    <set >
      <if test="leaveid != null" >
        leaveId = #{leaveid,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=CHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cncf.entity.Message" >
    update message
    set leaveId = #{leaveid,jdbcType=INTEGER},
      author = #{author,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=CHAR},
      valid = #{valid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cncf.entity.Message" >
    update message
    set leaveId = #{leaveid,jdbcType=INTEGER},
      author = #{author,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=CHAR},
      valid = #{valid,jdbcType=INTEGER}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>