<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>

  <plugins>
    <!-- PageHelper4.1.1 -->
    <plugin interceptor="com.github.pagehelper.PageHelper">
      <property name="helperDialect" value="mysql"/>
      <property name="reasonable" value="true"/>
      <property name="supportMethodsArguments" value="false"/>
      <property name="autoRuntimeDialect" value="true"/>
    </plugin>
  </plugins>
</configuration>
