<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncf.dao.ReportFileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cncf.entity.ReportFileInfo" >
    <id column="rid" property="rid" jdbcType="CHAR" />
    <result column="report_id" property="reportId" jdbcType="CHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="CHAR" />
    <result column="creater" property="creater" jdbcType="CHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cncf.entity.ReportFileInfo" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, report_id, file_name, path, flag, creater, create_date_time
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cncf.entity.ReportFileInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report_file_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cncf.entity.ReportFileInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_file_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report_file_info
    where rid = #{rid,jdbcType=CHAR}
  </select>

  <select id="selectAllReportFileInfoByPage" resultType="com.cncf.entity.ReportFileInfo">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM report_file_info
    limit #{0},#{1}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_file_info
    where rid = #{rid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cncf.entity.ReportFileInfoExample" >
    delete from report_file_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cncf.entity.ReportFileInfo" >
    insert into report_file_info (rid, report_id, file_name, 
      path, flag, creater, create_date_time, 
      memo)
    values (#{rid,jdbcType=CHAR}, #{reportId,jdbcType=CHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{creater,jdbcType=CHAR}, #{createDateTime,jdbcType=TIMESTAMP}, 
      #{memo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cncf.entity.ReportFileInfo" >
    insert into report_file_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=CHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=CHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cncf.entity.ReportFileInfoExample" resultType="java.lang.Integer" >
    select count(*) from report_file_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update report_file_info
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=CHAR},
      </if>
      <if test="record.reportId != null" >
        report_id = #{record.reportId,jdbcType=CHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=CHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update report_file_info
    set rid = #{record.rid,jdbcType=CHAR},
      report_id = #{record.reportId,jdbcType=CHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=CHAR},
      creater = #{record.creater,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      memo = #{record.memo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update report_file_info
    set rid = #{record.rid,jdbcType=CHAR},
      report_id = #{record.reportId,jdbcType=CHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=CHAR},
      creater = #{record.creater,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cncf.entity.ReportFileInfo" >
    update report_file_info
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=CHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cncf.entity.ReportFileInfo" >
    update report_file_info
    set report_id = #{reportId,jdbcType=CHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR},
      creater = #{creater,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where rid = #{rid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cncf.entity.ReportFileInfo" >
    update report_file_info
    set report_id = #{reportId,jdbcType=CHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR},
      creater = #{creater,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP}
    where rid = #{rid,jdbcType=CHAR}
  </update>
</mapper>