<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncf.dao.ReportInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cncf.entity.ReportInfo" >
    <id column="rid" property="rid" jdbcType="CHAR" />
    <result column="pact_number" property="pactNumber" jdbcType="CHAR" />
    <result column="report_type" property="reportType" jdbcType="CHAR" />
    <result column="test_address" property="testAddress" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
    <result column="result_flag" property="resultFlag" jdbcType="CHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="page_count" property="pageCount" jdbcType="INTEGER" />
    <result column="writer" property="writer" jdbcType="CHAR" />
    <result column="writer_date" property="writerDate" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="CHAR" />
    <result column="audit_date" property="auditDate" jdbcType="VARCHAR" />
    <result column="signaturer" property="signaturer" jdbcType="CHAR" />
    <result column="signature_date" property="signatureDate" jdbcType="VARCHAR" />
    <result column="report_status" property="reportStatus" jdbcType="VARCHAR" />
    <result column="send_flag" property="sendFlag" jdbcType="CHAR" />
    <result column="send_date" property="sendDate" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="consignee_tel" property="consigneeTel" jdbcType="VARCHAR" />
    <result column="ems_number" property="emsNumber" jdbcType="VARCHAR" />
    <result column="send_memo" property="sendMemo" jdbcType="VARCHAR" />
    <result column="send_person" property="sendPerson" jdbcType="CHAR" />
    <result column="send_date_time" property="sendDateTime" jdbcType="TIMESTAMP" />
    <result column="range_flag" property="rangeFlag" jdbcType="CHAR" />
    <result column="range_date" property="rangeDate" jdbcType="VARCHAR" />
    <result column="position_id" property="positionId" jdbcType="CHAR" />
    <result column="range_memo" property="rangeMemo" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="CHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="att_product_name" property="attProductName" jdbcType="VARCHAR" />
    <result column="publish_flag" property="publishFlag" jdbcType="INTEGER" />
    <result column="publish_user_name" property="publishUserName" jdbcType="VARCHAR" />
    <result column="publish_date_time" property="publishDateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cncf.entity.ReportInfoWithBLOBs" extends="BaseResultMap" >
    <result column="test_result" property="testResult" jdbcType="LONGVARCHAR" />
    <result column="auditor_record" property="auditorRecord" jdbcType="LONGVARCHAR" />
    <result column="signaturer_record" property="signaturerRecord" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, pact_number, report_type, test_address, start_date, end_date, result_flag, memo, 
    page_count, writer, writer_date, auditor, audit_date, signaturer, signature_date, 
    report_status, send_flag, send_date, consignee, consignee_tel, ems_number, send_memo, 
    send_person, send_date_time, range_flag, range_date, position_id, range_memo, creater, 
    create_date_time, att_product_name, publish_flag, publish_user_name, publish_date_time
  </sql>
  <sql id="Blob_Column_List" >
    test_result, auditor_record, signaturer_record
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cncf.entity.ReportInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cncf.entity.ReportInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report_info
    where rid = #{rid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_info
    where rid = #{rid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cncf.entity.ReportInfoExample" >
    delete from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cncf.entity.ReportInfoWithBLOBs" >
    insert into report_info (rid, pact_number, report_type, 
      test_address, start_date, end_date, 
      result_flag, memo, page_count, 
      writer, writer_date, auditor, 
      audit_date, signaturer, signature_date, 
      report_status, send_flag, send_date, 
      consignee, consignee_tel, ems_number, 
      send_memo, send_person, send_date_time, 
      range_flag, range_date, position_id, 
      range_memo, creater, create_date_time, 
      att_product_name, publish_flag, publish_user_name, 
      publish_date_time, test_result, auditor_record, 
      signaturer_record)
    values (#{rid,jdbcType=CHAR}, #{pactNumber,jdbcType=CHAR}, #{reportType,jdbcType=CHAR}, 
      #{testAddress,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{resultFlag,jdbcType=CHAR}, #{memo,jdbcType=VARCHAR}, #{pageCount,jdbcType=INTEGER}, 
      #{writer,jdbcType=CHAR}, #{writerDate,jdbcType=VARCHAR}, #{auditor,jdbcType=CHAR}, 
      #{auditDate,jdbcType=VARCHAR}, #{signaturer,jdbcType=CHAR}, #{signatureDate,jdbcType=VARCHAR}, 
      #{reportStatus,jdbcType=VARCHAR}, #{sendFlag,jdbcType=CHAR}, #{sendDate,jdbcType=VARCHAR}, 
      #{consignee,jdbcType=VARCHAR}, #{consigneeTel,jdbcType=VARCHAR}, #{emsNumber,jdbcType=VARCHAR}, 
      #{sendMemo,jdbcType=VARCHAR}, #{sendPerson,jdbcType=CHAR}, #{sendDateTime,jdbcType=TIMESTAMP}, 
      #{rangeFlag,jdbcType=CHAR}, #{rangeDate,jdbcType=VARCHAR}, #{positionId,jdbcType=CHAR}, 
      #{rangeMemo,jdbcType=VARCHAR}, #{creater,jdbcType=CHAR}, #{createDateTime,jdbcType=TIMESTAMP}, 
      #{attProductName,jdbcType=VARCHAR}, #{publishFlag,jdbcType=INTEGER}, #{publishUserName,jdbcType=VARCHAR}, 
      #{publishDateTime,jdbcType=TIMESTAMP}, #{testResult,jdbcType=LONGVARCHAR}, #{auditorRecord,jdbcType=LONGVARCHAR}, 
      #{signaturerRecord,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cncf.entity.ReportInfoWithBLOBs" >
    insert into report_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="pactNumber != null" >
        pact_number,
      </if>
      <if test="reportType != null" >
        report_type,
      </if>
      <if test="testAddress != null" >
        test_address,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="resultFlag != null" >
        result_flag,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="pageCount != null" >
        page_count,
      </if>
      <if test="writer != null" >
        writer,
      </if>
      <if test="writerDate != null" >
        writer_date,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="signaturer != null" >
        signaturer,
      </if>
      <if test="signatureDate != null" >
        signature_date,
      </if>
      <if test="reportStatus != null" >
        report_status,
      </if>
      <if test="sendFlag != null" >
        send_flag,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="consigneeTel != null" >
        consignee_tel,
      </if>
      <if test="emsNumber != null" >
        ems_number,
      </if>
      <if test="sendMemo != null" >
        send_memo,
      </if>
      <if test="sendPerson != null" >
        send_person,
      </if>
      <if test="sendDateTime != null" >
        send_date_time,
      </if>
      <if test="rangeFlag != null" >
        range_flag,
      </if>
      <if test="rangeDate != null" >
        range_date,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="rangeMemo != null" >
        range_memo,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="attProductName != null" >
        att_product_name,
      </if>
      <if test="publishFlag != null" >
        publish_flag,
      </if>
      <if test="publishUserName != null" >
        publish_user_name,
      </if>
      <if test="publishDateTime != null" >
        publish_date_time,
      </if>
      <if test="testResult != null" >
        test_result,
      </if>
      <if test="auditorRecord != null" >
        auditor_record,
      </if>
      <if test="signaturerRecord != null" >
        signaturer_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=CHAR},
      </if>
      <if test="pactNumber != null" >
        #{pactNumber,jdbcType=CHAR},
      </if>
      <if test="reportType != null" >
        #{reportType,jdbcType=CHAR},
      </if>
      <if test="testAddress != null" >
        #{testAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="resultFlag != null" >
        #{resultFlag,jdbcType=CHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        #{pageCount,jdbcType=INTEGER},
      </if>
      <if test="writer != null" >
        #{writer,jdbcType=CHAR},
      </if>
      <if test="writerDate != null" >
        #{writerDate,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=VARCHAR},
      </if>
      <if test="signaturer != null" >
        #{signaturer,jdbcType=CHAR},
      </if>
      <if test="signatureDate != null" >
        #{signatureDate,jdbcType=VARCHAR},
      </if>
      <if test="reportStatus != null" >
        #{reportStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendFlag != null" >
        #{sendFlag,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTel != null" >
        #{consigneeTel,jdbcType=VARCHAR},
      </if>
      <if test="emsNumber != null" >
        #{emsNumber,jdbcType=VARCHAR},
      </if>
      <if test="sendMemo != null" >
        #{sendMemo,jdbcType=VARCHAR},
      </if>
      <if test="sendPerson != null" >
        #{sendPerson,jdbcType=CHAR},
      </if>
      <if test="sendDateTime != null" >
        #{sendDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeFlag != null" >
        #{rangeFlag,jdbcType=CHAR},
      </if>
      <if test="rangeDate != null" >
        #{rangeDate,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=CHAR},
      </if>
      <if test="rangeMemo != null" >
        #{rangeMemo,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attProductName != null" >
        #{attProductName,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        #{publishFlag,jdbcType=INTEGER},
      </if>
      <if test="publishUserName != null" >
        #{publishUserName,jdbcType=VARCHAR},
      </if>
      <if test="publishDateTime != null" >
        #{publishDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testResult != null" >
        #{testResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditorRecord != null" >
        #{auditorRecord,jdbcType=LONGVARCHAR},
      </if>
      <if test="signaturerRecord != null" >
        #{signaturerRecord,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cncf.entity.ReportInfoExample" resultType="java.lang.Integer" >
    select count(*) from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update report_info
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=CHAR},
      </if>
      <if test="record.pactNumber != null" >
        pact_number = #{record.pactNumber,jdbcType=CHAR},
      </if>
      <if test="record.reportType != null" >
        report_type = #{record.reportType,jdbcType=CHAR},
      </if>
      <if test="record.testAddress != null" >
        test_address = #{record.testAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.resultFlag != null" >
        result_flag = #{record.resultFlag,jdbcType=CHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.pageCount != null" >
        page_count = #{record.pageCount,jdbcType=INTEGER},
      </if>
      <if test="record.writer != null" >
        writer = #{record.writer,jdbcType=CHAR},
      </if>
      <if test="record.writerDate != null" >
        writer_date = #{record.writerDate,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null" >
        auditor = #{record.auditor,jdbcType=CHAR},
      </if>
      <if test="record.auditDate != null" >
        audit_date = #{record.auditDate,jdbcType=VARCHAR},
      </if>
      <if test="record.signaturer != null" >
        signaturer = #{record.signaturer,jdbcType=CHAR},
      </if>
      <if test="record.signatureDate != null" >
        signature_date = #{record.signatureDate,jdbcType=VARCHAR},
      </if>
      <if test="record.reportStatus != null" >
        report_status = #{record.reportStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.sendFlag != null" >
        send_flag = #{record.sendFlag,jdbcType=CHAR},
      </if>
      <if test="record.sendDate != null" >
        send_date = #{record.sendDate,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee != null" >
        consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.consigneeTel != null" >
        consignee_tel = #{record.consigneeTel,jdbcType=VARCHAR},
      </if>
      <if test="record.emsNumber != null" >
        ems_number = #{record.emsNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sendMemo != null" >
        send_memo = #{record.sendMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.sendPerson != null" >
        send_person = #{record.sendPerson,jdbcType=CHAR},
      </if>
      <if test="record.sendDateTime != null" >
        send_date_time = #{record.sendDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rangeFlag != null" >
        range_flag = #{record.rangeFlag,jdbcType=CHAR},
      </if>
      <if test="record.rangeDate != null" >
        range_date = #{record.rangeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.positionId != null" >
        position_id = #{record.positionId,jdbcType=CHAR},
      </if>
      <if test="record.rangeMemo != null" >
        range_memo = #{record.rangeMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=CHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attProductName != null" >
        att_product_name = #{record.attProductName,jdbcType=VARCHAR},
      </if>
      <if test="record.publishFlag != null" >
        publish_flag = #{record.publishFlag,jdbcType=INTEGER},
      </if>
      <if test="record.publishUserName != null" >
        publish_user_name = #{record.publishUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.publishDateTime != null" >
        publish_date_time = #{record.publishDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.testResult != null" >
        test_result = #{record.testResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.auditorRecord != null" >
        auditor_record = #{record.auditorRecord,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.signaturerRecord != null" >
        signaturer_record = #{record.signaturerRecord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update report_info
    set rid = #{record.rid,jdbcType=CHAR},
      pact_number = #{record.pactNumber,jdbcType=CHAR},
      report_type = #{record.reportType,jdbcType=CHAR},
      test_address = #{record.testAddress,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=VARCHAR},
      end_date = #{record.endDate,jdbcType=VARCHAR},
      result_flag = #{record.resultFlag,jdbcType=CHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      page_count = #{record.pageCount,jdbcType=INTEGER},
      writer = #{record.writer,jdbcType=CHAR},
      writer_date = #{record.writerDate,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=CHAR},
      audit_date = #{record.auditDate,jdbcType=VARCHAR},
      signaturer = #{record.signaturer,jdbcType=CHAR},
      signature_date = #{record.signatureDate,jdbcType=VARCHAR},
      report_status = #{record.reportStatus,jdbcType=VARCHAR},
      send_flag = #{record.sendFlag,jdbcType=CHAR},
      send_date = #{record.sendDate,jdbcType=VARCHAR},
      consignee = #{record.consignee,jdbcType=VARCHAR},
      consignee_tel = #{record.consigneeTel,jdbcType=VARCHAR},
      ems_number = #{record.emsNumber,jdbcType=VARCHAR},
      send_memo = #{record.sendMemo,jdbcType=VARCHAR},
      send_person = #{record.sendPerson,jdbcType=CHAR},
      send_date_time = #{record.sendDateTime,jdbcType=TIMESTAMP},
      range_flag = #{record.rangeFlag,jdbcType=CHAR},
      range_date = #{record.rangeDate,jdbcType=VARCHAR},
      position_id = #{record.positionId,jdbcType=CHAR},
      range_memo = #{record.rangeMemo,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      att_product_name = #{record.attProductName,jdbcType=VARCHAR},
      publish_flag = #{record.publishFlag,jdbcType=INTEGER},
      publish_user_name = #{record.publishUserName,jdbcType=VARCHAR},
      publish_date_time = #{record.publishDateTime,jdbcType=TIMESTAMP},
      test_result = #{record.testResult,jdbcType=LONGVARCHAR},
      auditor_record = #{record.auditorRecord,jdbcType=LONGVARCHAR},
      signaturer_record = #{record.signaturerRecord,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update report_info
    set rid = #{record.rid,jdbcType=CHAR},
      pact_number = #{record.pactNumber,jdbcType=CHAR},
      report_type = #{record.reportType,jdbcType=CHAR},
      test_address = #{record.testAddress,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=VARCHAR},
      end_date = #{record.endDate,jdbcType=VARCHAR},
      result_flag = #{record.resultFlag,jdbcType=CHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      page_count = #{record.pageCount,jdbcType=INTEGER},
      writer = #{record.writer,jdbcType=CHAR},
      writer_date = #{record.writerDate,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=CHAR},
      audit_date = #{record.auditDate,jdbcType=VARCHAR},
      signaturer = #{record.signaturer,jdbcType=CHAR},
      signature_date = #{record.signatureDate,jdbcType=VARCHAR},
      report_status = #{record.reportStatus,jdbcType=VARCHAR},
      send_flag = #{record.sendFlag,jdbcType=CHAR},
      send_date = #{record.sendDate,jdbcType=VARCHAR},
      consignee = #{record.consignee,jdbcType=VARCHAR},
      consignee_tel = #{record.consigneeTel,jdbcType=VARCHAR},
      ems_number = #{record.emsNumber,jdbcType=VARCHAR},
      send_memo = #{record.sendMemo,jdbcType=VARCHAR},
      send_person = #{record.sendPerson,jdbcType=CHAR},
      send_date_time = #{record.sendDateTime,jdbcType=TIMESTAMP},
      range_flag = #{record.rangeFlag,jdbcType=CHAR},
      range_date = #{record.rangeDate,jdbcType=VARCHAR},
      position_id = #{record.positionId,jdbcType=CHAR},
      range_memo = #{record.rangeMemo,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      att_product_name = #{record.attProductName,jdbcType=VARCHAR},
      publish_flag = #{record.publishFlag,jdbcType=INTEGER},
      publish_user_name = #{record.publishUserName,jdbcType=VARCHAR},
      publish_date_time = #{record.publishDateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cncf.entity.ReportInfoWithBLOBs" >
    update report_info
    <set >
      <if test="pactNumber != null" >
        pact_number = #{pactNumber,jdbcType=CHAR},
      </if>
      <if test="reportType != null" >
        report_type = #{reportType,jdbcType=CHAR},
      </if>
      <if test="testAddress != null" >
        test_address = #{testAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="resultFlag != null" >
        result_flag = #{resultFlag,jdbcType=CHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        page_count = #{pageCount,jdbcType=INTEGER},
      </if>
      <if test="writer != null" >
        writer = #{writer,jdbcType=CHAR},
      </if>
      <if test="writerDate != null" >
        writer_date = #{writerDate,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=CHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=VARCHAR},
      </if>
      <if test="signaturer != null" >
        signaturer = #{signaturer,jdbcType=CHAR},
      </if>
      <if test="signatureDate != null" >
        signature_date = #{signatureDate,jdbcType=VARCHAR},
      </if>
      <if test="reportStatus != null" >
        report_status = #{reportStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendFlag != null" >
        send_flag = #{sendFlag,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTel != null" >
        consignee_tel = #{consigneeTel,jdbcType=VARCHAR},
      </if>
      <if test="emsNumber != null" >
        ems_number = #{emsNumber,jdbcType=VARCHAR},
      </if>
      <if test="sendMemo != null" >
        send_memo = #{sendMemo,jdbcType=VARCHAR},
      </if>
      <if test="sendPerson != null" >
        send_person = #{sendPerson,jdbcType=CHAR},
      </if>
      <if test="sendDateTime != null" >
        send_date_time = #{sendDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeFlag != null" >
        range_flag = #{rangeFlag,jdbcType=CHAR},
      </if>
      <if test="rangeDate != null" >
        range_date = #{rangeDate,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=CHAR},
      </if>
      <if test="rangeMemo != null" >
        range_memo = #{rangeMemo,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attProductName != null" >
        att_product_name = #{attProductName,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        publish_flag = #{publishFlag,jdbcType=INTEGER},
      </if>
      <if test="publishUserName != null" >
        publish_user_name = #{publishUserName,jdbcType=VARCHAR},
      </if>
      <if test="publishDateTime != null" >
        publish_date_time = #{publishDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testResult != null" >
        test_result = #{testResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditorRecord != null" >
        auditor_record = #{auditorRecord,jdbcType=LONGVARCHAR},
      </if>
      <if test="signaturerRecord != null" >
        signaturer_record = #{signaturerRecord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cncf.entity.ReportInfoWithBLOBs" >
    update report_info
    set pact_number = #{pactNumber,jdbcType=CHAR},
      report_type = #{reportType,jdbcType=CHAR},
      test_address = #{testAddress,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      result_flag = #{resultFlag,jdbcType=CHAR},
      memo = #{memo,jdbcType=VARCHAR},
      page_count = #{pageCount,jdbcType=INTEGER},
      writer = #{writer,jdbcType=CHAR},
      writer_date = #{writerDate,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=CHAR},
      audit_date = #{auditDate,jdbcType=VARCHAR},
      signaturer = #{signaturer,jdbcType=CHAR},
      signature_date = #{signatureDate,jdbcType=VARCHAR},
      report_status = #{reportStatus,jdbcType=VARCHAR},
      send_flag = #{sendFlag,jdbcType=CHAR},
      send_date = #{sendDate,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      consignee_tel = #{consigneeTel,jdbcType=VARCHAR},
      ems_number = #{emsNumber,jdbcType=VARCHAR},
      send_memo = #{sendMemo,jdbcType=VARCHAR},
      send_person = #{sendPerson,jdbcType=CHAR},
      send_date_time = #{sendDateTime,jdbcType=TIMESTAMP},
      range_flag = #{rangeFlag,jdbcType=CHAR},
      range_date = #{rangeDate,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=CHAR},
      range_memo = #{rangeMemo,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      att_product_name = #{attProductName,jdbcType=VARCHAR},
      publish_flag = #{publishFlag,jdbcType=INTEGER},
      publish_user_name = #{publishUserName,jdbcType=VARCHAR},
      publish_date_time = #{publishDateTime,jdbcType=TIMESTAMP},
      test_result = #{testResult,jdbcType=LONGVARCHAR},
      auditor_record = #{auditorRecord,jdbcType=LONGVARCHAR},
      signaturer_record = #{signaturerRecord,jdbcType=LONGVARCHAR}
    where rid = #{rid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cncf.entity.ReportInfo" >
    update report_info
    set pact_number = #{pactNumber,jdbcType=CHAR},
      report_type = #{reportType,jdbcType=CHAR},
      test_address = #{testAddress,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      result_flag = #{resultFlag,jdbcType=CHAR},
      memo = #{memo,jdbcType=VARCHAR},
      page_count = #{pageCount,jdbcType=INTEGER},
      writer = #{writer,jdbcType=CHAR},
      writer_date = #{writerDate,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=CHAR},
      audit_date = #{auditDate,jdbcType=VARCHAR},
      signaturer = #{signaturer,jdbcType=CHAR},
      signature_date = #{signatureDate,jdbcType=VARCHAR},
      report_status = #{reportStatus,jdbcType=VARCHAR},
      send_flag = #{sendFlag,jdbcType=CHAR},
      send_date = #{sendDate,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      consignee_tel = #{consigneeTel,jdbcType=VARCHAR},
      ems_number = #{emsNumber,jdbcType=VARCHAR},
      send_memo = #{sendMemo,jdbcType=VARCHAR},
      send_person = #{sendPerson,jdbcType=CHAR},
      send_date_time = #{sendDateTime,jdbcType=TIMESTAMP},
      range_flag = #{rangeFlag,jdbcType=CHAR},
      range_date = #{rangeDate,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=CHAR},
      range_memo = #{rangeMemo,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      att_product_name = #{attProductName,jdbcType=VARCHAR},
      publish_flag = #{publishFlag,jdbcType=INTEGER},
      publish_user_name = #{publishUserName,jdbcType=VARCHAR},
      publish_date_time = #{publishDateTime,jdbcType=TIMESTAMP}
    where rid = #{rid,jdbcType=CHAR}
  </update>


  <select id="selectAllReportInfoWithBLOBsByPage" resultType="com.cncf.entity.ReportInfo">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM report_info
    limit #{0},#{1}
  </select>
</mapper>